header {
  --logo-width: 130px;
  --logo-height: 54px;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  max-height: var(--header-height);
  background-color: light-dark(var(--color-light), var(--color-dark));

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-mohegan-orange);
  }

  .btn {
    margin-block: 6px;
  }

  .header-content {
    display: grid;
    grid-template-areas: "nav brand actions";
    grid-template-columns: 80px var(--logo-width) auto;
  }

  .mobile-menu-toggle {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: var(--header-height);

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      width: 44px;
      height: 44px;
      background-color: var(--color-mohegan-orange);
      mask-image: url(/img/icons/menu.svg);
    }
  }

  .mobile-brand-section {
    grid-area: brand;
    display: block;
  }

  .actions-section {
    grid-area: actions;
    max-height: 64px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    > .default-content {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: var(--spacing-l);
      height: var(--header-height);
    }

    > .block-content {
      border-bottom: 1px solid light-dark(var(--color-gray-200), var(--color-gray-600));
    }

    .action-wrapper {
      height: var(--header-height);
      right: -13px;

      button {
        width: 44px;
      }
    }

    &.is-open {
      overflow: scroll;
      max-height: 100%;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: .8rem;
    }

    .icon {
      margin-right: .5rem;
      width: 30px;
      height: 30px;
    }
  }

   @media (width >= 1160px) {
    .mobile-brand-section {
      display: none;
    }

    .actions-section {
      a {
        flex-direction: row;
        font-size: 1rem;
      }
    }
  }
}



