footer {
  border-top: 10px solid black;
  a {
    text-decoration: none;
  }

  .footer-content {
    max-width: var(--grid-container-width);
    margin: 48px auto;
    font-size: 14px;
  }


  .section {
    .default-content {
      max-width: initial;
      margin: initial;
    }
  }

  .section-links {
    text-align: center;
    font-size: small;
    max-width: 900px;
    margin: auto;
   
    .columns {
       --columns-gap: 50px;
    }


    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      columns: 2;

      a {
        color: var(--color-mohegan-orange);
      }
    }

    .col-3 {
      ul { columns: unset}
      li { 
        display: flex;
      }
    }
  }
}

@media (width >= 900px) {
  footer {
    margin: 0;

    .section-legal {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
      margin-bottom: 24px;

      ul {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xl);
      }

      li {
        margin: 0;
      }
    }

    .section-copyright {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
    }
  }
}
