@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/styles/fonts/montserrat.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/styles/fonts/montserrat-italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* grid */
  --grid-container-width: 83.4%;
  --grid-column-width: calc(var(--grid-container-width) / 12);
  --grid-gutter-width: 8.3%;

  /* spacing */
  --spacing-xxl: 48px;
  --spacing-xl: 32px;
  --spacing-l: 24px;
  --spacing-m: 12px;
  --spacing-s: 8px;
  --spacing-xs: 4px;

  /* color schemes */
  color-scheme: light dark;

  /* color tokens */
  --color-gray-100: #f1f1f1;
  --color-gray-200: #d3d3d3;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #999;
  --color-gray-500: #7d7d7d;
  --color-gray-600: #636363;
  --color-gray-700: #494949;
  --color-gray-800: #313131;
  --color-gray-900: #1b1b1b;
  --color-green-100: #e1f5e3;
  --color-green-200: #a3e1a8;
  --color-green-300: #60cb6a;
  --color-green-400: #24b032;
  --color-green-500: #1e9029;
  --color-green-600: #187220;
  --color-green-700: #115418;
  --color-green-800: #0c3910;
  --color-green-900: #072009;
  --color-teal-100: #e4f3f5;
  --color-teal-200: #acdbdf;
  --color-teal-300: #71c1c9;
  --color-teal-400: #36a7b3;
  --color-teal-500: #108a96;
  --color-teal-600: #0d6d77;
  --color-teal-700: #0a5158;
  --color-teal-800: #06363b;
  --color-teal-900: #041e21;
  --color-blue-100: #eaf2ff;
  --color-blue-200: #b9d4ff;
  --color-blue-300: #88b6ff;
  --color-blue-400: #5898ff;
  --color-blue-500: #2176ff;
  --color-blue-600: #0058e4;
  --color-blue-700: #0041a9;
  --color-blue-800: #002c74;
  --color-blue-900: #001942;
  --color-purple-100: #f4edfb;
  --color-purple-200: #dfcbf2;
  --color-purple-300: #c9a7ea;
  --color-purple-400: #b385e1;
  --color-purple-500: #9d60d8;
  --color-purple-600: #843ccb;
  --color-purple-700: #622c98;
  --color-purple-800: #421e66;
  --color-purple-900: #251139;
  --color-magenta-100: #ffebf9;
  --color-magenta-200: #ffc0ec;
  --color-magenta-300: #ff8fde;
  --color-magenta-400: #ff53cc;
  --color-magenta-500: #eb00a5;
  --color-magenta-600: #bd0084;
  --color-magenta-700: #8e0064;
  --color-magenta-800: #630045;
  --color-magenta-900: #3b002a;
  --color-red-100: #ffecea;
  --color-red-200: #ffc4be;
  --color-red-300: #ff9990;
  --color-red-400: #ff6759;
  --color-red-500: #f81400;
  --color-red-600: #c71000;
  --color-red-700: #950c00;
  --color-red-800: #670800;
  --color-red-900: #3c0500;
  --color-orange-100: #ffeddc;
  --color-orange-200: #ffc895;
  --color-orange-300: #ff9e43;
  --color-orange-400: #f37500;
  --color-orange-500: #c76000;
  --color-orange-600: #9e4c00;
  --color-orange-700: #753800;
  --color-orange-800: #4f2600;
  --color-orange-900: #2d1500;
  --color-yellow-100: #fff48e;
  --color-yellow-200: #ebd400;
  --color-yellow-300: #cab600;
  --color-yellow-400: #ab9a00;
  --color-yellow-500: #8c7e00;
  --color-yellow-600: #6e6400;
  --color-yellow-700: #514a00;
  --color-yellow-800: #373100;
  --color-yellow-900: #1e1b00;


    /* Mohegan Sun specific colors */
  --color-mohegan-blue: #0033a0;
  --color-mohegan-blue-dark: #252167;
  --color-mohegan-teal: #006895;
  --color-mohegan-purple: #823E7C;
  --color-mohegan-purple-dark: #252167;
  --color-mohegan-orange: #c94f08;
  --color-mohegan-red: #d60f00;
  --color-mohegan-green: #007550;

  /* named colors */
  --color-light: #fff;
  --color-dark: #000;
  --color-text: light-dark(var(--color-dark), var(--color-light));
  --color-link: light-dark(var(--color-gray-900), var(--color-gray-100));
  --color-brand: var(--color-mohegan-purple);
  --color-accent: light-dark(var(--color-magenta-600), var(--color-magenta-500));
  --color-shaded: light-dark(#f9f9f9, #111);

/* animated header colors */
--header-color-1: var(--color-mohegan-blue-dark);
--header-color-2: var(--color-mohegan-green);


  /* fonts */
  --font-family: montserrat, "Trebuchet MS", sans-serif;
  --font-mohegan-sans: barlow, sans-serif;
  --font-mohegan-script: fave-script-pro, script;

  /* headings */
  --heading-font-size-xxxl: 50px;
  --heading-font-size-xxl: 32.44px;
  --heading-font-size-xl: 28.83px;
  --heading-font-size-l: 25.63px;
  --heading-font-size-m: 22.78px;
  --heading-font-size-s: 20.25px;
  --heading-font-size-xs: 18px;
  --heading-line-height: 1.15;

  /* body */
  --body-font-size-xxxl: 25px;
  --body-font-size-xxl: 22px;
  --body-font-size-xl: 20px;
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-line-height: 1.6;

  /* misc */
  --header-height: 64px;
  --breadcrumb-height: 24px;
  --side-menu-width: 12.5rem;
  --side-menu-padding: 10px;
  --breakpoint-header: 1160px;
}

.light-scheme {
  color-scheme: light;
}

.dark-scheme {
  color-scheme: dark;
}

html {
  scroll-padding-top: calc(var(--header-height) + 1rem);
}

body {
  margin: 0;
  background-color: light-dark(var(--color-light), var(--color-dark));
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
  padding: var(--header-height) 0 0 var(--side-menu-width);

  &.has-breadcrumb {
    margin: calc(var(--header-height) + var(--breadcrumb-height)) 0 0;
  }

  &.no-header {
    --header-height: 0;
    margin: 0;
  }

  &::before {
    content: "";
    width: var(--side-menu-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--color-mohegan-purple);
    z-index: 1001;
  }
}

@media ( width < 1160px ) {
  body {
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

header {
  display: none;
  height: var(--header-height);
  position: fixed;
}

a {
  color: var(--color-link);

  &.btn {
    display: inline-block;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    background: linear-gradient(90deg, var(--button-color-one) 0, var(--button-color-two) 100%);
    border-color: var(--button-color-two);


    &.btn-outline {
      background: transparent;
    }
  }

  &.btn-accent {

    color: #fff;


    &.btn-outline {
      color: var(--color-accent);
    }
  }

  &.btn-primary {
    --button-color-one: var(--color-mohegan-orange);
    --button-color-two: var(--color-mohegan-red);
    color: white;
    background-color: light-dark(var(--color-dark), var(--color-light));
  


    &.btn-outline {
      color: light-dark(var(--color-dark), var(--color-light));
      background: transparent;
    }
  }

  &.btn-secondary {
    color: light-dark(var(--color-light), var(--color-dark));
    background-color: var(--color-gray-500);
    border: 2px solid var(--color-gray-500);

    &.btn-outline {
      color: var(--color-gray-500);
    }
  }

  &.btn-negative {
    color: #fff;
    background-color: var(--color-red-600);
    border: 2px solid var(--color-red-600);

    &.btn-outline {
      color: var(--color-red-600);
    }
  }
}

span.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
}

/* sections */
.section {
  display: block;

  >.default-content {
    max-width: var(--grid-container-width);
    margin: 0 auto;
  }
}

main {

  ul,
  ol {
    padding-inline-start: 24px;

    /* Reduce nested lists even further */
    ul,
    ol {
      padding-inline-start: 12px;
    }
  }
}

button {
  cursor: pointer;
}

li {
  margin-block: 1em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--heading-line-height);
  font-family: var(--font-mohegan-sans);
  text-align: center;

  em {
    font-style: normal;
    font-family: var(--font-mohegan-script);
    font-weight: 400;
  }
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  em { font-size: var(--heading-font-size-xxxl);}
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

strong {
  font-weight: 600;
}

input,
textarea,
select,
button {
  font: inherit;
}

p:has(img) {
  text-align: center;
}

img {
  width: 100%;
  height: auto;

  .image-size-intr & {
    width: auto;
    margin: auto;
  }
}

svg {
  width: 20px;
  height: 20px;
}

@import url("templates.css");

/* @media (width >= 600px) {} */

/* @media (width >= 900px) {} */

/* @media (width >= 1200px) {} */

@media (width >=1440px) {
  :root {
    --grid-container-width: 1200px;
  }
}

main>div,
div[data-status],
.has-template {
  display: none;
}

main .section {
  padding: 32px 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &.dark {
    background-color: var(--color-dark);
    color: var(--color-light) !important;
  }

  &.inset {
    max-width: 900px;
    margin: 30px auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  &.frosted {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(2px);
      z-index: 1;
    }

    > .block-content {
      position: relative;
      z-index: 2;
    }
  }

  &.wave {
    padding-top: 80px;
    padding-bottom: 80px;
    &::before {
      content: '';
      width: 100%;
      height: 30px;
      display: block;
      position: absolute;
      top: 0;
      left: -180px;
      background-color: white;
      mask-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%202000%2029%22%20style%3D%22enable-background%3Anew%200%200%202000%2029%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M4.2-1l1395.1-1c0.1%2C0%2C211.8%2C1.2%2C211.7%2C1.2c-474.4%2C0-253.9%2C27.4-896.9%2C27.4C235.6%2C26.5%2C327.2-1%2C10-1%22%2F%3E%0A%3C%2Fsvg%3E");
      mask-size: cover;
      mask-repeat: no-repeat;
      z-index: 1;
    }

    &::after {
      content: '';
      width: 100%;
      height: 30px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: white;
      mask-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%202000%2029%22%20style%3D%22enable-background%3Anew%200%200%202000%2029%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M4.2-1l1395.1-1c0.1%2C0%2C211.8%2C1.2%2C211.7%2C1.2c-474.4%2C0-253.9%2C27.4-896.9%2C27.4C235.6%2C26.5%2C327.2-1%2C10-1%22%2F%3E%0A%3C%2Fsvg%3E");
      mask-size: cover;
      mask-repeat: no-repeat;
      transform: rotate(180deg);
    }
  }

  &:first-of-type {
    padding-top: 0;
  }
}

/* color theme styles */
.color-theme-purple {
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-mohegan-purple);

    em {
      color: var(--color-mohegan-teal);
    }
  }

}

.color-theme-blue {
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-mohegan-blue);
  }
}

.color-theme-green {
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-mohegan-green);
  }
}

.color-theme-orange {
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-mohegan-orange);
  }
}

.color-theme-red {
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-mohegan-red);
  }
}

aem-sidekick {
  display: none;

  &[open="true"].is-ready {
    display: block;
  }
}

  @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
